.letter {
	height: 40px;
	line-height: 40px;
	width: 40px;
	float: left;
	/*margin: 5px;*/
	margin: 0;
	text-align: center;
	background-color: white;
	border: solid 1px #888888;
	box-shadow: 1px 1px 1px #888888;
	border-radius: 5px;
}

.letter-box {
	height: 45px;
	width: 45px;
	background-color: #F5F5F5;
	border: solid 1px #888888;
	float: left;
	margin: 5px;
	border-radius: 5px;
}

#answer-container {
	min-height: 54px;
}
#letter-container {
	min-height: 54px;

}
.hidden {
	display: none;
};

#incorrect-message, #correct-message {
	height: 45px;

}