.letter {
	position: absolute;
	top: 50%;
	height: 40px;
	margin-top: -20px;
	line-height: 40px;
	width: 40px;
	left: 2px;
	text-align: center;
	background-color: white;
	border: solid 1px #888888;
	border-radius: 5px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;  
	
}
.letter:hover {
	cursor: move;
	box-shadow: 1px 1px 2px #808080 ;
}
.letter-box {
	position: relative;
	height: 46px;
	width: 46px;
	float: left;
	background-color: #F5F5F5;
	border: solid 1px #888888;
	margin: 4px;
	text-align: center;
	border-radius: 5px;
	user-select: none;
}

#answer-container {
	min-height: 57px;
	text-align: center;
}
#letter-container {

	min-height: 57px;
	text-align: center;

}
.msg-container {
	position: relative;
	text-align: center;
	height: 50px;
}
.hidden {
	display: none;
}

h4 {
	margin-top: 0px;
	text-align: center;
}

#incorrect-message, #correct-message {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	height: 50px;
	line-height: 50px;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}